In [1]:
import matplotlib
import pandas as pd
import os.path
import numpy as np

In [6]:
df = pd.DataFrame({'col1':[1,2,3], 'col2':[2,3,4], 'col3':[2,3,4]})
mask = [True, False, True]

In [7]:
df

   col1  col2  col3
0     1     2     2
1     2     3     3
2     3     4     4

In [8]:
df.loc[:,mask]

   col1  col3
0     1     2
1     2     3
2     3     4